@model  IEnumerable<MovieSearch.Model.Film>
<div class="row justify-content-center mb-3">
    <div class="col-md-8">
        <form asp-controller="Home" asp-action="Index" class="d-flex">
            <input type="search" name="searchString" class="form-control me-1 border-primary rounded" placeholder="Search" aria-label="Search">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>
<div class="row pb-3">
    @if (Model.Any())
    {
        @foreach (var film in Model)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <a asp-action="Details"
                               asp-route-filmId="@film.Id">
                                <img alt="photo-film" src="https://image.tmdb.org/t/p/w500/@(film.Poster_Path)" class="card-img-top rounded"/>
                            </a>
                            <div class="card-body pb-0">
                                <div>
                                    @if (film.Vote_Average == 0)
                                    {
                                        <p class="card-title">Not voted</p>
                                    }
                                    else
                                    {
                                        <p class="card-title"><i class="bi bi-star-fill me-2" style="color: red"></i>@film.Vote_Average / 10</p>
                                    }
                                </div>

                                <p class="card-title h5 text-primary" style="height: 55px">@film.Title</p>
                            </div>
                            <a asp-action="Details"
                               asp-route-filmId="@film.Id" class="btn opacity-75 btn-primary bg-gradient border-0 form-control">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>Films with this name don't exist</h3>
    }
</div>